.koltuk{
    background-image: url(./chair-cinema-movie-seat-theater-icon-68620\ kopya.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: fit-content;
    height: fit-content;
    padding: 48px;
    width: 20px;
    text-align: left;
}
.lar{
    display: flex;
    flex-direction: row;

}
.koltuk_sira{
    display: grid;
    gap: 48px;
    grid-template-columns: auto auto auto;
}
.kenar{
    display: grid;
    grid-template-columns: auto auto auto;
    
}
.pencere{
    bottom: 0;
    top: 0;
    color: black;
    background-color: aqua;
    text-align: center;
    padding: 5px;
}
