@import  url("https://cdn.syncfusion.com/ej2/material.css");
.bilet-ara{
    border-radius: 7px;
    border: 1px solid grey;
    box-shadow: 1.5px 1.5px 0px #888888;
    margin-bottom: 8px;
    padding: 4px;
    background-color: white;
}
.rota{
    display: flex;
    flex-direction: row;
}
.yer{
    width: 350px;
    margin: 5px;
}
.tarih{
    width: 350px;
    height: 40px;
    margin: 5px;
    border-radius: 5px;
    
}
.bilet-bul{
    background-color: red;
    color: white;
    border-radius: 5px;
    width: 350px;
    height: 40px;
    margin-top: 28.5px;
    margin-left: 5px;
}
.tarih-takvim{
    display: flex;
    flex-direction: column;
}
.tarih-bilet{
    display: flex;
    flex-direction: row;
    justify-content: left;
}