.yonetici {
  border-radius: 7px;
  border: 1px solid grey;
  box-shadow: 1.5px 1.5px 0px #888888;
  margin-bottom: 8px;
  padding: 4px;
  background-color: white;
}
.yonetici-giris {
  display: flex;
  flex-direction: row;
}
.yonetici-kAdi {
  width: 350px;
  height: 40px;
  margin: 5px;
  border-radius: 5px;
}
.yonetici-sifre {
  width: 350px;
  height: 55px;
  border-radius: 5px;
  /*margin: 3px;*/
  font-family: Verdana;
  letter-spacing: 0.125em;
}
.yonetici-button {
  background-color: red;
  color: white;
  border-radius: 5px;
  width: 90px;
  height: 50px;
  margin-top: 25px;
  margin-left: 5px;
}
.iptal-et{
  display: flex;
  flex-direction: row;
}
.iptal-button{
  margin-left: 235px;
  background-color: red;
  color: white;
  height: 80px;
  border-radius: 5px;
  margin-top: 40px;

}